# Ejercicio preprocesamiento

En este ejercicio vamos a trabajar con el dataset que se encuentra en el fichero Building_Permits.csv. Obviamente lo primero que debemos hacer es leer el fichero

In [2]:
import pandas as pd
import numpy as np
import os


df = pd.read_csv('./Building_Permits.csv')
df

C:\Users\rotan\AppData\Local\Temp\ipykernel_14984\3901732365.py:6: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./Building_Permits.csv')

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,NaN,Ellis,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.785719256680785, -122.40852313194863)",1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,NaN,Geary,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.78733980600732, -122.41063199757738)",1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,NaN,Pacific,Av,...,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Russian Hill,94109.0,"(37.7946573324287, -122.42232562979227)",1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,NaN,Pacific,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,Nob Hill,94109.0,"(37.79595867909168, -122.41557405519474)",1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,NaN,Market,St,...,3.0,constr type 3,NaN,NaN,NaN,6.0,Tenderloin,94102.0,"(37.78315261897309, -122.40950883997789)",144548169992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198895,M862628,8,otc alterations permit,12/05/2017,0113,017A,1228,NaN,Montgomery,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1489337276729
198896,201712055595,8,otc alterations permit,12/05/2017,0271,014,580,NaN,Bush,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1489462354993
198897,M863507,8,otc alterations permit,12/06/2017,4318,019,1568,NaN,Indiana,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1489539379952
198898,M863747,8,otc alterations permit,12/06/2017,0298,029,795,NaN,Sutter,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1489608233656
198899,M864287,8,otc alterations permit,12/07/2017,0160,006,838,NaN,Pacific,Av,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1489796283803

Compruebe de qué clase es cada variable

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198900 entries, 0 to 198899
Data columns (total 43 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   Permit Number                           198900 non-null  object
 1   Permit Type                             198900 non-null  int64
 2   Permit Type Definition                  198900 non-null  object
 3   Permit Creation Date                    198900 non-null  object
 4   Block                                   198900 non-null  object
 5   Lot                                     198900 non-null  object
 6   Street Number                           198900 non-null  int64
 7   Street Number Suffix                    2216 non-null    object
 8   Street Name                             198900 non-null  object
 9   Street Suffix                           196132 non-null  object
 10  Unit                                    29479 non-null   float64
 11  Unit Suffix                             1961 non-null    object
 12  Description                             198610 non-null  object
 13  Current Status                          198900 non-null  object
 14  Current Status Date                     198900 non-null  object
 15  Filed Date                              198900 non-null  object
 16  Issued Date                             183960 non-null  object
 17  Completed Date                          97191 non-null   object
 18  First Construction Document Date        183954 non-null  object
 19  Structural Notification                 6922 non-null    object
 20  Number of Existing Stories              156116 non-null  float64
 21  Number of Proposed Stories              156032 non-null  float64
 22  Voluntary Soft-Story Retrofit           35 non-null      object
 23  Fire Only Permit                        18827 non-null   object
 24  Permit Expiration Date                  147020 non-null  object
 25  Estimated Cost                          160834 non-null  float64
 26  Revised Cost                            192834 non-null  float64
 27  Existing Use                            157786 non-null  object
 28  Existing Units                          147362 non-null  float64
 29  Proposed Use                            156461 non-null  object
 30  Proposed Units                          147989 non-null  float64
 31  Plansets                                161591 non-null  float64
 32  TIDF Compliance                         2 non-null       object
 33  Existing Construction Type              155534 non-null  float64
 34  Existing Construction Type Description  155534 non-null  object
 35  Proposed Construction Type              155738 non-null  float64
 36  Proposed Construction Type Description  155738 non-null  object
 37  Site Permit                             5359 non-null    object
 38  Supervisor District                     197183 non-null  float64
 39  Neighborhoods - Analysis Boundaries     197175 non-null  object
 40  Zipcode                                 197184 non-null  float64
 41  Location                                197200 non-null  object
 42  Record ID                               198900 non-null  int64
dtypes: float64(12), int64(3), object(28)
memory usage: 65.3+ MB

Imprima los principales estadísticos de las variables numéricas

In [4]:
df.describe()

,Permit Type,Street Number,Unit,Number of Existing Stories,Number of Proposed Stories,Estimated Cost,Revised Cost,Existing Units,Proposed Units,Plansets,Existing Construction Type,Proposed Construction Type,Supervisor District,Zipcode,Record ID
count,198900.000000,198900.000000,29479.000000,156116.000000,156032.000000,1.608340e+05,1.928340e+05,147362.000000,147989.000000,161591.000000,155534.000000,155738.000000,197183.000000,197184.000000,1.989000e+05
mean,7.522323,1121.728944,78.517182,5.705773,5.745043,1.689554e+05,1.328562e+05,15.666164,16.510950,1.274650,4.072878,4.089529,5.538403,94115.500558,1.162048e+12
std,1.457451,1135.768948,326.981324,8.613455,8.613284,3.630386e+06,3.584903e+06,74.476321,75.220444,22.407345,1.585756,1.578766,2.887041,9.270131,4.918215e+11
min,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,94102.000000,1.293532e+10
25%,8.000000,235.000000,0.000000,2.000000,2.000000,3.300000e+03,1.000000e+00,1.000000,1.000000,0.000000,3.000000,3.000000,3.000000,94109.000000,1.308567e+12
50%,8.000000,710.000000,0.000000,3.000000,3.000000,1.100000e+04,7.000000e+03,1.000000,2.000000,2.000000,5.000000,5.000000,6.000000,94114.000000,1.371840e+12
75%,8.000000,1700.000000,1.000000,4.000000,4.000000,3.500000e+04,2.870750e+04,4.000000,4.000000,2.000000,5.000000,5.000000,8.000000,94122.000000,1.435000e+12
max,8.000000,8400.000000,6004.000000,78.000000,78.000000,5.379586e+08,7.805000e+08,1907.000000,1911.000000,9000.000000,5.000000,5.000000,11.000000,94158.000000,1.498342e+12

¿Cuántos valores nulos tenemos de la variable 'Plansets'?

In [5]:
df['Plansets'].isnull().sum()

37309

¿Cuántos valores faltantes tiene la fila con el máximo número de ellos?

In [6]:
df.isnull().sum(axis=1).max

<bound method Series.max of 0         14
1         14
2         13
3          7
4         15
          ..
198895    26
198896    12
198897    26
198898    26
198899    26
Length: 198900, dtype: int64>

## Tratamiento de los valores perdidos


Vamos a establecer una semilla como 1234 (fundamental para la reproducibilidad) obtener un subconjunto aleatorio de 10000 del conjunto de datos original y seleccionar las columnas

- Number of Existing Stories              
- Number of Proposed Stories 
- Estimated Cost
- Revised Cost 
- Plansets

In [7]:
cols=['Number of Existing Stories','Number of Proposed Stories','Estimated Cost','Revised Cost','Plansets']
df_sample=df[cols].copy().sample(n=10000,random_state=1234)

Haga una copia de este dataframe y elimine todas las filas con al menos un valor faltante. Analice cómo cambian las estadísticas de los atributos.

In [8]:
df_sample_2 = df_sample.copy().dropna(axis=0)
df_sample_2.describe()

,Number of Existing Stories,Number of Proposed Stories,Estimated Cost,Revised Cost,Plansets
count,7444.000000,7444.000000,7.444000e+03,7.444000e+03,7444.000000
mean,5.727834,5.759001,7.403449e+04,8.417730e+04,1.170607
std,8.517557,8.540140,4.069266e+05,4.117841e+05,0.988264
min,0.000000,0.000000,1.000000e+00,0.000000e+00,0.000000
25%,2.000000,2.000000,3.500000e+03,3.000000e+03,0.000000
50%,3.000000,3.000000,1.150000e+04,1.200000e+04,2.000000
75%,4.000000,4.000000,3.500000e+04,4.000000e+04,2.000000
max,63.000000,63.000000,1.850000e+07,1.900000e+07,3.000000

### Mean/Median/Mode Imputing

Haga una copia del dataframe auxiliar y realice una imputación usando medias medias/medianas/modas. Analice cómo cambian las estadísticas de los atributos.

In [9]:
from sklearn.impute import SimpleImputer
df_mean_imp=df_sample.copy()
imr = SimpleImputer(missing_values=np.nan, strategy='mean')
imr = imr.fit(df_mean_imp.iloc[:,1:3])
df_mean_imp.iloc[:,1:3] = imr.transform(df_mean_imp.iloc[:,1:3])
df_mean_imp

,Number of Existing Stories,Number of Proposed Stories,Estimated Cost,Revised Cost,Plansets
61449,NaN,5.678035,134378.150058,1.0,NaN
75024,3.0,3.000000,1.000000,1.0,2.0
23122,3.0,3.000000,1.000000,1.0,0.0
110307,NaN,3.000000,800000.000000,NaN,2.0
4861,25.0,25.000000,20000.000000,20000.0,2.0
...,...,...,...,...,...
103333,1.0,1.000000,3500.000000,3500.0,2.0
10050,12.0,12.000000,112000.000000,112000.0,2.0
56325,7.0,7.000000,12000.000000,12000.0,0.0
1871,NaN,5.678035,134378.150058,1.0,NaN
184957,30.0,30.000000,30000.000000,30000.0,2.0

In [10]:
df_mean_imp_v2=df_sample.copy()
imr = SimpleImputer(missing_values=np.nan, strategy='median')
imr = imr.fit(pd.DataFrame(df_mean_imp_v2.iloc[:,1]))
df_mean_imp_v2.iloc[:,1] = imr.transform(pd.DataFrame(df_mean_imp_v2.iloc[:,1]))
df_mean_imp_v2

,Number of Existing Stories,Number of Proposed Stories,Estimated Cost,Revised Cost,Plansets
61449,NaN,3.0,NaN,1.0,NaN
75024,3.0,3.0,1.0,1.0,2.0
23122,3.0,3.0,1.0,1.0,0.0
110307,NaN,3.0,800000.0,NaN,2.0
4861,25.0,25.0,20000.0,20000.0,2.0
...,...,...,...,...,...
103333,1.0,1.0,3500.0,3500.0,2.0
10050,12.0,12.0,112000.0,112000.0,2.0
56325,7.0,7.0,12000.0,12000.0,0.0
1871,NaN,3.0,NaN,1.0,NaN
184957,30.0,30.0,30000.0,30000.0,2.0

In [11]:
df_mean_imp_v3=df_sample.copy()
imr = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imr = imr.fit(pd.DataFrame(df_mean_imp_v3.iloc[:,1]))
df_mean_imp_v3.iloc[:,1] = imr.transform(pd.DataFrame(df_mean_imp_v3.iloc[:,1]))
df_mean_imp_v3

,Number of Existing Stories,Number of Proposed Stories,Estimated Cost,Revised Cost,Plansets
61449,NaN,2.0,NaN,1.0,NaN
75024,3.0,3.0,1.0,1.0,2.0
23122,3.0,3.0,1.0,1.0,0.0
110307,NaN,3.0,800000.0,NaN,2.0
4861,25.0,25.0,20000.0,20000.0,2.0
...,...,...,...,...,...
103333,1.0,1.0,3500.0,3500.0,2.0
10050,12.0,12.0,112000.0,112000.0,2.0
56325,7.0,7.0,12000.0,12000.0,0.0
1871,NaN,2.0,NaN,1.0,NaN
184957,30.0,30.0,30000.0,30000.0,2.0

In [12]:
df_sample.describe()

,Number of Existing Stories,Number of Proposed Stories,Estimated Cost,Revised Cost,Plansets
count,7842.000000,7858.000000,8.100000e+03,9.678000e+03,8132.000000
mean,5.670620,5.678035,1.343782e+05,1.070871e+05,1.225037
std,8.430956,8.391279,1.849473e+06,2.090192e+06,0.977057
min,0.000000,0.000000,1.000000e+00,0.000000e+00,0.000000
25%,2.000000,2.000000,3.500000e+03,1.000000e+00,0.000000
50%,3.000000,3.000000,1.160000e+04,7.000000e+03,2.000000
75%,4.000000,4.000000,3.852500e+04,2.850000e+04,2.000000
max,63.000000,63.000000,1.142720e+08,1.439825e+08,3.000000

In [13]:
df_mean_imp_v4=df_sample.copy()
imr = SimpleImputer(missing_values=np.nan, strategy='constant',fill_value=25)
imr = imr.fit(pd.DataFrame(df_mean_imp_v4.iloc[:,1]))
df_mean_imp_v4.iloc[:,1] = imr.transform(pd.DataFrame(df_mean_imp_v4.iloc[:,1]))
df_mean_imp_v4

,Number of Existing Stories,Number of Proposed Stories,Estimated Cost,Revised Cost,Plansets
61449,NaN,25.0,NaN,1.0,NaN
75024,3.0,3.0,1.0,1.0,2.0
23122,3.0,3.0,1.0,1.0,0.0
110307,NaN,3.0,800000.0,NaN,2.0
4861,25.0,25.0,20000.0,20000.0,2.0
...,...,...,...,...,...
103333,1.0,1.0,3500.0,3500.0,2.0
10050,12.0,12.0,112000.0,112000.0,2.0
56325,7.0,7.0,12000.0,12000.0,0.0
1871,NaN,25.0,NaN,1.0,NaN
184957,30.0,30.0,30000.0,30000.0,2.0

### K-Nearest Neighbors Imputing
Haga una copia del conjunto de datos auxiliar y rellene los huecos mediante un enfoque de k vecinos más próximos utilizando 5 vecinos y una función de pesos uniforme.

In [15]:
from sklearn.impute import KNNImputer
df_sample_imp=df.copy()
imr = KNNImputer(n_neighbors=2, weights="uniform")
df_sample_imp.iloc[:,1:3]=imr.fit_transform(df_sample_imp.iloc[:,1:3])
df_sample_imp

ValueError: could not convert string to float: 'sign - erect'

Haga lo mismo pero considerando únicamente 4 vecinos y ajustando el peso que se le da a cada vecino en función de la distancia.

### Iterative imputer

Finalmente aplique un IterativeImputer con una semilla de 0 y 10 iteraciones

## Escalando Variables 
Vamos a crear 3 variables adicionales del atributo "Estimated Cost". La primera será una versión escalada 0-1 del atributo original, la segunda será una versión escalada de la original con media 0 y desviación típica unitaria y la tercera consistirá en la transformación logarítmica de la variable original. Analice la distribución de los datos de las diferentes transformaciones.

In [ ]:
df_scaling=df_sample.copy()
df_scaling[ 'Estimated Cost' ].hist(bins=100)

# Codificación
## Imputar valores a una variable ordinal

Vamos a establecer una semilla como 1234 (fundamental para la reproducibilidad) obtener un subconjunto aleatorio de 10000 del conjunto de datos original y seleccionar las columnas

- Estimated Cost
- Existing Construction Type Description
- Current Status


En este conjunto de datos, elimine las filas con vacíos

In [ ]:
cols=['Estimated Cost','Existing Construction Type Description','Current Status']
df_imputing=df[cols].sample(n=10000,random_state=1234).dropna(axis=0)

Una de las variables categóricas "Existing Construction Type Description" es una variable ordinal, ya que tiene los siguientes valores

- 'constr type 1'
- 'constr type 2'
- 'constr type 3' 
- 'constr type 4
- 'wood frame (5)'

Cree un mapeo entre el valor referido y su número asociado (codificando 'constr type 1' como 1, 'constr type 2' como 2 y así sucesivamente) y cree una nueva columna numérica llamada 'Numerical type' usando el mapeo creado.

### One-hot encoding

Defina una estrategia one hot encoding para la variable 'Current Status' eliminando la categoría base.